    <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="static/styles/feeds.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>

	 <div class="header">
        SNET
    </div>
    <div class="left">
        <div class="profile">
            <h3 id="username">@{{.Profile.Username}}</h3>
            <img src="{{.Profile.ImgURL}}" id="profile-pic" alt="profile picture">
            <div id="profile-details">
                <div id="email">
                    <span class="label"><strong>Email</strong></span>
                    <span class="data">{{.Profile.Email}}</span>
                </div>
                <div id="dept">
                    <span class="label"><strong>Dept</strong></span>
                    <span class="data">{{.Profile.Dept}} 🎓 | {{.Profile.Year}} Year</span>
                </div>
                <div id="gender">
                    <span class="label"><strong>Gender</strong></span>
                    <span class="data">{{.Profile.Gender}}</span>
                </div>
                <div id="relationship-status">
                    <span class="label"><strong>Relatsh</strong></span>
                    <span class="data">{{.Profile.RelationshipStatus}}</span>
                </div>
                <div id="looking-for">
                    <span class="label"><strong>Looking for</strong></span>
                    <span class="data">{{.Profile.LookingFor}}</span>
                </div>
                <div id="fact-about-me">
                    <span class="label"><strong>Fact about me</strong></span>
                    <span class="data">{{.Profile.FactAboutMe}}</span>
                </div>
            </div>

            <div class="actionBtns">
                <form action="/editprofile">
                    <button type="submit" id="editProfileBtn">Edit</button>
                </form>
                <form action="/logout">
                    <button type="submit" id="logoutBtn">Logout</button>
                </form>
            </div>
        </div>
    </div>

    <div class="mid">
        <div class="postInput">
            <form action="/post">
                <textarea name="content" placeholder="What's going on campus....."></textarea>
                <button type="submit">Post</button>
            </form>

            <div class="post-contents" id="posts-container">
            	<!-- {{range .Posts}}

                <div class="post">
                    <div class="upper-side">
                        <img src="{{.ImgURL}}" class="post-profile-pic">
                        <div>
                            <p class="post-username">@{{.Username}}</p>
                            <p class="post-email"><a href="">{{.Email}}</a></p>
                        </div>
                    </div>
                    <p class="post-text">{{.Content}}</p>
                    <div class="actionBtns">
                        <button class="upvote" hx-get="/updatemetric?postid={{.ID}}&action=up" hx-target="#vote-count-{{.ID}}" hx-swap="innerHTML">⇧</button>
                        <p id="vote-count-{{.ID}}">{{.VoteCount}}</p>
                        <button class="downvote" hx-get="/updatemetric?postid={{.ID}}&action=down" hx-target="#vote-count-{{.ID}}" hx-swap="innerHTML">⇩</button>
                    </div>
                    <p class="post-time">2 hours ago</p>
                </div>

                {{end}} -->
            </div>

            <div
			  hx-get="/getposts?offset=0"
			  hx-trigger="revealed"
			  hx-target="#posts-container"
			  hx-swap="beforeend"
			>
			  Loading posts...
			</div>
        </div>
    </div>  

    <div class="right">
        right
    </div>
</body>
</html>