<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>[snet]</title>
 	<script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
	<h2>Register</h2>
	<form hx-post="/register" hx-swap="innerHTML" hx-target=".register-message">
		<input type="email" name="email">
		<input type="password" name="password">
		<button type="submit">Register</button>
	</form>	
	<p class="register-message"></p>
</body>
</html>