<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register - Social Network</title>
	<link rel="stylesheet" type="text/css" href="static/styles/index.css">
	<script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
	<div class="container">
	    <div class="signup-container">
	      <h1>Join SNET</h1>
	      <p>Getting in is easy, to an online directory just for the students of Salesian . <br>Already in? <a href="/login">Log in</a></p>
	      <form id="registerForm" hx-post="/register" hx-target="#error" hx-swap="innerHTML">
	        <input type="email" name="email" placeholder="e.g. yourname@salesiancollege.net" required>
	        <input type="password" name="password" placeholder="Password" required>
	        <!-- <input type="password" name="confirm" placeholder="Confirm" required> -->
	        <button type="submit">
				<span class="button-text">Jump in</span>
				<span class="spinner"></span>
			</button>
			<div id="error" class="error">{{if .Error}}{{.Error}}{{end}}</div>
	      </form>
	    </div>
  	</div>

	<div class="random-imgs">
	    <img src="static/img/background.png" alt="Image 1">
	    <img src="static/img/background.png" alt="Image 2">
	    <img src="static/img/background.png" alt="Image 3">
	    <img src="static/img/background.png" alt="Image 3">
	    <img src="static/img/background.png" alt="Image 3">
	 </div>

	<script>
		document.getElementById('registerForm').addEventListener('submit', function(e) {
			const button = this.querySelector('button');
			const buttonText = button.querySelector('.button-text');
			const spinner = button.querySelector('.spinner');
			
			button.disabled = true;
			buttonText.textContent = 'Hold on.....';
			spinner.style.display = 'block';
		});
	</script>
</body>
</html>